@font-face {
  font-family: 'figtree';
  font-style: normal;
  font-weight: 300 900;
  font-display: block;
  src: url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
@font-face {
  font-family: 'figtree';
  font-style: italic;
  font-weight: 300 900;
  font-display: block;
  src: url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  font-named-instance: 'Italic';
}

body {
  font-family: 'figtree', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 400;
  font-variant: common-ligatures contextual;
  letter-spacing: 0.01em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 500;
}
h1 {
  font-variation-settings: 'wght' 700;
}
h2 {
  font-variation-settings: 'wght' 600;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #48ACF0;
}

.nav-line .nav-link {
  color: #48ACF0;
}
